/ {
    chosen {
        zmk,keyboard = &keyboard;
    };

    // This enables split behavior
    zmk,split-role = "left";  // change to "right" for the other half
};

&kscan0 {
    row-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>,
                <&gpio0 24 GPIO_ACTIVE_LOW>,
                <&gpio0 100 GPIO_ACTIVE_LOW>,
                <&gpio0 11 GPIO_ACTIVE_LOW>;
    col-gpios = <&gpio0 31 GPIO_ACTIVE_LOW>,
                <&gpio0 29 GPIO_ACTIVE_LOW>,
                <&gpio0 2 GPIO_ACTIVE_LOW>,
                <&gpio0 115 GPIO_ACTIVE_LOW>,
                <&gpio0 113 GPIO_ACTIVE_LOW>,
                <&gpio0 111 GPIO_ACTIVE_LOW>;
    debounce-press-ms = <5>;
    debounce-release-ms = <5>;
};
